.results {
  flex: 1;
  margin: 1rem;
  overflow: auto;
  padding: 2rem;
  margin-bottom: 70px;
  font-size: large;
  
  .react-json-view {
    margin: 1rem 2rem;
  }

  h2 {
    text-align: center;
  }
}



