.history {
  flex: 1;
  margin: 1rem;
  overflow: auto;
  padding: 2rem;
  // max-width: 40%;

  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem;

    li {
      padding: .5rem 0;


      .method {
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        padding: .25rem 1rem;
        width:80px;
        height: 36px;
        text-align: center;

        &.get {
          background: blue;
        }

        &.delete {
          background: red;
        }

        &.put {
          background: goldenrod;
        }

        &.post {
          background: green;
        }
      }

      .url {
        background: inherit;
        border: none;
        cursor: pointer;
        padding: .5rem 1rem;
        font-size: large;
        &:hover {
          color: #f5f5f5;
        }
      }
    }
  }
}

// section.historyPage {
//   display:flex;

//     aside {
//     div {
//       cursor:pointer;
//       padding: 1rem;
//       white-space: nowrap;
//       &:hover {
//         background: #efefef;
//       }
//     }
//   }
// }