body {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web",sans-serif;
  background: #e0e0e0;
  height: 100vh;
  margin: 0;
  padding: 0;

  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  h2 {
    margin: 0 2rem;
  }

  main {
    display: flex;
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
  }
}